// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-dashboard {
  margin-left: 60px;
  padding: 0;

  #main-content-block{
    margin-left: 20px;
    margin-right: 20px;
  }

  .alert.callout {
    margin-top: -52px !important;
    margin-left: 20% !important;
    margin-right: 30% !important;
    margin-bottom: 0 !important;
    color: #d9534f !important;
    background-color: transparent !important;
  }
}