.container
  .text-center
    %h1 Accident Invoice - Demo OCR with AWS Textract
  .row
    .col-sm-5-sm-4
      = link_to new_accident_invoice_path, class: 'btn btn-primary pull-right main-btn', 'data-turbolinks' => false do
        %i.fa.fa-plus
        %span New Invoice

  .clearfix
  %br
  = render 'table'